.header {
  max-width: 1200px;
  padding: 40px 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem; /*tamanho da fonte*/
  line-height: 1.3;
  padding: 10px 20px; /*É bom colocar padding devido a área de click. Se ficar muito espaçado, diminui o Gap. */
  text-decoration: none;
  color: #141414;
  display: block; /*Para pegar o valores de padding */
}

@media (max-width: 800px) {
  /*Para ajuste do responsivo do Site*/
  .header {
    flex-direction: column; /*Fica um abaixo do outro*/
    gap: 40px;
    padding: 20px;
  }
  .header a {
    /*Para ficar parecido com um botão*/
    background: #f5f5f5;
    border-radius: 4px;
  }
}
